name: frontend
version: 0.0.1
description: Regatta frontend
author:
homepage: https://regatta.atlassian.net
documentation:

environment:
  sdk: '>=1.13.0 <2.0.0'

dependencies:
  angular2: ^2.0.0
  browser: ^0.10.0
  dart_to_js_script_rewriter: ^1.0.1
  http: ^0.11.0
  stream_transformers: ^0.3.0
  ng_bootstrap: ^0.4.2
  sass_transformer: any
  reflectable: any

dev_dependencies:
  dart_style: any
  test: ^0.12.6
  angular2_testing: ^2.0.0-beta.17
  quiver: any

dependency_overrides:
  angular2: 2.0.0

transformers:
- angular2:
    platform_directives:
    - 'package:angular2/common.dart#COMMON_DIRECTIVES'
    platform_pipes:
    - 'package:angular2/common.dart#COMMON_PIPES'
    entry_points: web/main.dart
    resolved_identifiers:
      BrowserClient: 'package:http/browser_client.dart'
      Client: 'package:http/http.dart'
- reflectable:
    entry_points:
      - web/main.dart
    formatted: true
- dart_to_js_script_rewriter
- sass_transformer
