// We try to model security with role based access control https://cloud.google.com/firestore/docs/solutions/role-based-access

service cloud.firestore {
  match /databases/{database}/documents {

    match /sailing_clubs/{sailingClub} {

      function isSignedIn() {
        return request.auth != null;
      }

      function getRole() {
        return resource.data.roles[request.auth.uid];
      }

      function isOneOfRoles(array) {
        return isSignedIn() && (getRole() in array);
      }

      function isValidNewSailingClub() {
        // Valid if sailing club does not exist and the sailing club has the user as owner.
        return !exists(/databases/$(database)/documents/sailing_clubs/$(sailingClub))
          && request.resource.data.roles[request.auth.uid] == 'owner';
       }

      // Everyone can read the first level
      allow read;

      // Everyone can create a new sailing club or edit if he is the owner
      allow write: if isValidNewSailingClub () || isOneOfRoles(['owner']);
    }

    match /boats/{boat} {
      function isSignedIn() {
        return request.auth != null;
      }

      function getRole() {
        return resource.data.roles[request.auth.uid];
      }

      function isOneOfRoles(array) {
        return isSignedIn() && (getRole() in array);
      }

      function isValidNewBoat() {
        // Valid if boat does not exist and the boat has the user as owner.
        return !exists(/databases/$(database)/documents/boats/$(boat))
          && request.resource.data.roles[request.auth.uid] == 'owner';
       }

      // Everyone can read the first level
      allow read;

      // Everyone can create a new sailing club or edit if he is the owner
      allow write: if true; // isValidNewBoat () || isOneOfRoles(['owner']);
    }

  }
}
